.page_bg {
	background-color: #F4F4F4 !important;
}

.header-top{
	padding-top:40px !important;
	padding-left:33% !important;
}

.row {
	padding-top: 63px;
	margin: 0px;
}

.header-links {
	list-style-type: none;
	margin: 44px 0 0 0;
	overflow: hidden;
	float: right;
}

.list_1 {
	background-color: #8AC53F;
	height: 54px;
	width: 270px;
	font-size: 16px;
	color: white !important; font : 600 18px/ 1.2em "Open Sans", sans-serif;
	padding: 15px 18px 16px 20px;
	font: 600 18px/1.2em "Open Sans", sans-serif;
}

a.list-group-item:hover {
	color: #555;
	text-decoration: none;
	background: #9fdb49;
	
}
.list-group-item {
    position: relative;
    display: block;
    border: 1px solid #6b9d2c;
    margin-bottom: -1px;
    
}

#languages-block-top {
	float: right;
	position: relative;
	padding: 2px 0 3px 20px;
	margin-top: 43px;
	margin-left: 20px;
	z-index: 100;
	list-style-type: none !important;
	display: -webkit-inline-box !important;
}

.h2 {
	border-right: 1px solid #d4d4d4;
	padding-right: 20px;
	text-transform: capitalize;
	margin-left: 20px;
}
.h3{
	padding-right: 20px;
	text-transform: capitalize;
	margin-left: 20px;
	border-right:1px solid #f5f5f5;
}

.h1 {
	text-decoration: none;
	font-size: 14px;
	line-height: 18px;
	transition: all 0.3s ease;
	font-weight: 600;
	font-family: "Open Sans", sans-serif;
	color: #595958;
}

.bg1 {
	background-color: #8AC53F;
}
.sbtn{
	border-radius: 0 2px 2px 0;
    color: #fff;
    display: block;
    float: right;
    font: 600 18px/24px "Open Sans",sans-serif;
    border: none;
    border-right: 1px solid #73a930;
    border-bottom: 1px solid #73a930;
    height: 43px;
    margin: 0 0 0 -91px;
    text-align: center;
    width: 91px;
    padding: 0;
	background-color:#8AC53F;
	     transition: color 0.3s ease;
}
.pl15{
	padding-left:15px;
}
.dsply{
	display:inline-flex;
}

.lead {
	font-size: 70px;
	color: #8AC53F;
	font-family: serif;
}

.lead1 {
	font-size: 32px;
	color: #595958;
}
.fc1{
	   height:43px;
	   width:526px;
	   padding-left:15px;
	   background-color:#F4F4F4;
}
.shopping_cart  {
    border-radius: 0 7px 0 0;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 63px;
    width: 200px;
    line-height: 60px;
     color: #fe6407;
     background: #fed207; 
    transition: all 0.3s ease;
    overflow: hidden;
    color: white;
    font: 600 18px/60px "Open Sans",sans-serif;
    vertical-align: baseline;
    padding-right: 5px;
}
.shopping_cart:hover{
    background: #7fb934;
    color: #fed207;
}
.m-r-120{
	margin-right:120px;
}
.m-t-10{
	margin-top:10px;
}
#htmlcontent_top {
    padding-bottom: 7px;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
 ol {
    margin-top: 0;
    margin-bottom: 10px;
}
 ul {
    list-style: none;
        padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
#htmlcontent_top ul li {
    margin-bottom: 10px;
}
.col-xs-4 {
    width: 33.33333%;
        float: left;
            position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
.li{
	    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
#htmlcontent_top ul li a {
    background: #fed207;
    box-sizing: border-box;
    display: block;
    min-height: 133px;
    text-transform: uppercase;
    transition: all 0.3s ease;
}
#htmlcontent_top ul li h2 {
    color: #fff;
    font: bold 43px/1em "Open Sans",sans-serif;
    margin: 0;
    letter-spacing: -1px;
    padding: 23px 0 0 30px;
}
.a {
    margin: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    padding: 0;
    text-decoration: none;
}
#categories_block_left li a {
    border-bottom: 1px solid #6b9d2c;
    transition: all 0.3s ease;
    color: #fff;
    display: block;
    font: 600 18px/1.2em "Open Sans",sans-serif;
    padding: 15px 18px 16px 20px;
}
 .a:hover {
    text-decoration: none !important;
}
.list-group>a.active{
	    background: #9fdb49;
}
.list-group1{
	    border-bottom: 1px solid #6b9d2c;
}
#htmlcontent_top ul li h3 {
    color: #fff;
    font: bold 19px/1em "Open Sans",sans-serif;
    margin: 1px 0 0;
    padding: 0 0 0 30px;
    letter-spacing: -1px;
    border: 0;
    vertical-align: baseline
}
#htmlcontent_top ul li.htmlcontent-item-2 a {
    background: #fe8802;
    padding-left: 26px;
}
htmlcontent_top ul li a:before {
    color: #fff;
    font-size: 29px;
    position: absolute;
    right: 35px;
    top: calc(50% - 10px);
    font-family: "FontAwesome";
    content: "\f105";
    font-weight: normal;
}
#htmlcontent_top ul li.htmlcontent-item-2 a h2 {
    font-size: 28px;
    line-height: 1em;
    margin: 0;
    padding: 30px 0 0;
}
#htmlcontent_top ul li h2 {
    color: #fff;
    font: bold 43px/1em "Open Sans",sans-serif;
    margin: 0;
    letter-spacing: -1px;
    padding: 23px 0 0 30px;
}
#htmlcontent_top ul li.htmlcontent-item-3 a {
    background: #7fb934;
    padding-left: 30px;
}

.body {
    min-width: 320px;
    height: 100%;
    color: #777777;
    background: #fff;
        background-color: white;
    }
#htmlcontent_top ul li a:hover {
    background: #595958;
}
#htmlcontent_top ul li.htmlcontent-item-3 a h3 {
    line-height: 1em;
    font-size: 14px;
    margin: 6px 0 0;
    padding: 0;
}
#htmlcontent_top ul li.htmlcontent-item-3 a h2 {
    line-height: 1em;
    font-size: 43px;
    padding: 24px 0 0;
}
a:focus, a:hover {
    
     text-decoration: none;
}
.title_block, #left_column .block h4 {
    border-color: #fe8802;
}
.title_block, .block h4 {
    font: 600 22px/22px "Open Sans", sans-serif;
    color: #595958;
    background: none;
    border-bottom: 2px solid #fe8802;
    padding: 0 0 16px;
    margin: 0 0 27px 0;
}
.block .block_content > ul {
    margin-bottom: 0;
}
ul, ol {
    margin-top: 0;
}
ol, ul {
    list-style: none;
}
.block .products-block li {
    margin-bottom: 24px;
}
.clearfix:after {
    clear: both;
}
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
      border: 1px solid #d4d4d4;
    display: block;
    transition: all 0.3s ease;
    background: #fff;
}
a img {
    border: none;
}
img {
    vertical-align: middle;
    margin: 0;
    padding: 0;
    font: inherit;
    font-size: 100%;
}
.block .products-block li .products-block-image {
    border: 1px solid #d4d4d4;
    display: block;
    transition: all 0.3s ease;
    background: #fff;
}
.block .products-block .product-name {
    font-size: 15px;
    line-height: 18px;
}
.product-name {
    color: #7fb934;
    margin-bottom: 0;
    transition: all 0.3s ease;
    font-weight: 600;
     font-size: 15px;
    line-height: 18px;
}
.h5  {
    font-family: inherit
    }
ul.products-block >li > .product-content {
    overflow: hidden;
    padding-top: 12px;
}
 h5.product-name {
    font-size: 15px;
    line-height: 18px;
}
.product-content > h5.a:focus, a:hover {
    color: #7fb934;
}
.btn.btn-default:hover, .btn.btn-default:active, .btn.btn-default:active:focus, .btn.btn-default:focus {
    background: #73b134;
    box-shadow: none;
    outline: none;
    color: #fff;
    border-color: #69a230;
}
.btn.btn-default {
    white-space: normal;
    text-align: left;
    padding: 10px 15px;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font: 600 14px "Open Sans", sans-serif;
    text-decoration: none;
    text-transform: capitalize;
    background: #fff;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open>.btn-default.dropdown-toggle {
    background-color: #e6e6e6;
    border-color: #adadad;
}
.block .products-block li {
    margin-bottom: 24px;
}
.price, .price.product-price {
    font: 600 22px/24px "Open Sans", sans-serif;
    color: #fe8802;
}
.price-box{
	    margin-bottom: 24px;
	
}
ul.product_list .product-image-container {
    text-align: center;
    overflow: hidden;
}
ul.product_list .product-image-container {
    text-align: center;
    position: relative;
    overflow: hidden;
}
.bdr{
	    border: 1px solid #d4d4d4;
}
.bdr:hover, .bdr:focus, .bdr:active {
       border-color: #595958;
}
.caption {
    height: 130px;
    overflow: hidden;
     background-color: #F4F4F4 !important;
}
.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
    background-color: #F4F4F4 !important;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
.product-container .product-image-container {
    position: relative;
    margin-bottom: 14px;
}
.product-container {
    padding: 0;
}
 .product_list .product-image-container {
    text-align: center;
    overflow: hidden;
}
.product-container .product-image-container .product_img_link {
    display: block;
    border: 1px solid #d4d4d4;
    padding: 9px;
    position: relative;
    background: white;
    transition: all 0.3s ease;
}
.product-image-container .product_img_link img {
    position: relative;
    z-index: 1;
}
 .product-image-container img {
    margin: 0 auto;
}
a img {
    border: none;
}
.product-image-container {
    text-align: center;
    position: relative;
}
 .product-image-container .product_img_link img+img {
    position: absolute;
    left: 0;
    top: 0;
    padding: 9px;
    z-index: 0;
    opacity: 0;
}
.thumbnail {
    display: block;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: none;
    border-radius: 4px;
    transition: border .2s ease-in-out;
}
.product-name {
    font-size: 14px;
    line-height: 18px;
    color: #7fb934;
    margin-bottom: 0;
    transition: all 0.3s ease;
    font-weight: 600;
}
